/* Mobiles
@media screen and(min-width:320px) and (max-width:480px)


 Tablets
@media screen and (min-width: 481px) and (max-width:768px
 
}
laptops
@media screen and (min-width:769px) and (max-width:1024px)

desktops

@media screen and (min-width:1025px) and (max-width:1200px)

TVS
@media screen and (min-width:1201px)

 */

 @media screen and(min-width:320px) and (max-width:480px){
    img{
     width: 100vw;
    }

}

@media screen and (min-width:1025px) and (max-width:1200px){
 main{
     width: 800px;

 }
}
@media screen and (min-width:481px) and (max-width:768px){
 main{
   width:800px;
   
 }

}